@model ProyectoInge1.Models.Cambio
@{
    ViewBag.Title = "DetallesVersion";
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.pantallaActual = "requerimientos";
}

<style>
    .fileUpload {
        position: relative;
        overflow: hidden;
        margin: 15px;
    }

        .fileUpload input.upload {
            position: absolute;
            top: 0;
            right: 0;
            margin: 0;
            padding: 0;
            font-size: 20px;
            cursor: pointer;
            opacity: 0;
            filter: alpha(opacity=0);
        }

    .row {
        padding-bottom: 1em;
    }

    img {
        width: auto;
        max-width: 279px;
        height: auto;
        max-height: 279px;
    }

    .required:after {
        content: " *";
        font-weight: bold;
        color: red;
    }
</style>

<script>
    window.onload = function () {

            $("input").prop('disabled', true).trigger("click");
            $('select').prop('disabled', true).trigger("click");
            $("#descripcion *").prop("disabled", true).trigger("click");
            $("#descripcionCambio *").prop("disabled", true).trigger("click");
            $("#justificacionCambio *").prop("disabled", true).trigger("click");
            $("#guardar").attr('disabled','disabled');
            $('.elementoModificar').hide();
            $('#campo2').show();
            $('.elementoConsultar').show();
            $('.botonPrueba').hide();
    }
</script>

<h2>Consultar versión</h2>

@if((bool)Session["GCS-CS"]){
	@Html.ActionLink("Solicitar cambio", "CrearSolicitud", new { idSolicitud = Model.IdSolicitud, idRequerimiento = Model.IdRequerimiento, idProyecto = Model.IdProyecto, version = Model.Version })
}
@using (Html.BeginForm())
{

    @Html.AntiForgeryToken()

    @Html.ValidationSummary(true, "", new { @class = "text-danger" })

    <fieldset>
        <legend>Datos del Requerimiento</legend>

        @Html.HiddenFor(model => model.IdProyecto)
        <div class="row">
            <div class="form-group">
                @Html.LabelFor(model => model.IdProyecto, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-4">
                    @Html.EditorFor(model => model.IdProyecto, new { htmlAttributes = new { @class = "form-control", @id = "Proyecto", @readonly = "readonly" } })
                    @Html.ValidationMessageFor(model => model.IdProyecto, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>

        @Html.HiddenFor(model => model.IdRequerimiento)
        <div class="row">
            @Html.LabelFor(model => model.IdRequerimiento, htmlAttributes: new { @class = "control-label required col-md-2" })
            <div class="col-md-4">
                <div class="Id">
                    @Html.EditorFor(model => model.IdRequerimiento, new { htmlAttributes = new { @class = "form-control", @id = "Id", @readonly = "readonly" } })
                    @Html.ValidationMessageFor(model => model.IdRequerimiento, "", new { @class = "text-danger" })
                </div>
            </div>

            @Html.LabelFor(model => model.Nombre, htmlAttributes: new { @class = "control-label required col-md-2" })
            <div class="col-md-4">
                @Html.EditorFor(model => model.Nombre, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Nombre, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="row">
            @Html.LabelFor(model => model.Observaciones, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-4">
                @Html.EditorFor(model => model.Observaciones, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Observaciones, "", new { @class = "text-danger" })
            </div>

            <div class="Solicitante">
                @Html.Label("Solicitante", htmlAttributes: new { @class = "control-label required col-md-2" })
                <div class="col-md-4">
                    @Html.DropDownListFor(model => model.IdSolicitante, new SelectList(ViewBag.listaSolicitantes, "Id", "NombreCompleto"), new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.IdSolicitante, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>

        <div class="row">
            @Html.LabelFor(model => model.rutaImagen, "Imagen" ,htmlAttributes: new { @class = "control-label required col-md-2" })
            <div class="col-md-4">
                @Html.EditorFor(model => model.rutaImagen, new { htmlAttributes = new { @id = "rutaImagen", @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.rutaImagen, "", new { @class = "text-danger" })
                <div class="fileUpload btn btn-primary">
                    <span>Cargar</span>
                    <input id="uploadBtn" type="file" class="upload" onchange="cambio()" />
                </div>
            </div>

            @Html.Label("Vista", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-4" width="200" height="200">
                <img id="RuPic" src="@(Model.rutaImagen)" />
            </div>
        </div>

        <div class="row">
            <div class="form-group" , id="descripcion">
                @Html.LabelFor(model => model.Descripcion, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-4">
                    @Html.EditorFor(model => model.Descripcion, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Descripcion, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>
    </fieldset>

    <fieldset>
        <legend>Datos de Estimación</legend>

        <div class="row">
            @Html.LabelFor(model => model.Prioridad, htmlAttributes: new { @class = "control-label required col-md-2" })
            <div class="col-md-4">
                @Html.EditorFor(model => model.Prioridad, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Prioridad, "", new { @class = "text-danger" })
            </div>

            @Html.LabelFor(model => model.Esfuerzo, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-4">
                @Html.EditorFor(model => model.Esfuerzo, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Esfuerzo, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="row">
            @Html.LabelFor(model => model.FechaInicio, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-4">
                @Html.EditorFor(model => model.FechaInicio, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.FechaInicio, "", new { @class = "text-danger" })
            </div>

            @Html.LabelFor(model => model.FechaFinal, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-4">
                @Html.EditorFor(model => model.FechaFinal, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.FechaFinal, "", new { @class = "text-danger" })
            </div>
        </div>
    </fieldset>

    <fieldset>
        <legend>Datos de Desarrollo</legend>

        <div class="row">
            @Html.LabelFor(model => model.Estado, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-4">
                @Html.DropDownListFor(model => model.Estado, new SelectList(new List<Object>{
                    new { value = "Pendiente" , text = "Pendiente"  },
                    new { value = "En revisión" , text = "En revisión"  },
                    new { value = "Aceptado" , text = "Aceptado" },
                    new { value = "Rechazado" , text = "Rechazado" }
                }, "value", "text"), new { @class = "form-control" })
            </div>

            <div class="Responsable">
                @Html.Label("Responsable", htmlAttributes: new { @class = "control-label required col-md-2" })
                <div class="col-md-4">
                    @Html.DropDownListFor(model => model.IdResponsable, new SelectList(ViewBag.listaResponsables, "Id", "NombreCompleto"), new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.IdResponsable, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>

        <div class="row">

            @Html.LabelFor(model => model.Sprint, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-4">
                @Html.EditorFor(model => model.Sprint, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Sprint, "", new { @class = "text-danger" })
            </div>

            @Html.LabelFor(model => model.Modulo, htmlAttributes: new { @class = "control-label required col-md-2" })
            <div class="col-md-4">
                @Html.EditorFor(model => model.Modulo, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Modulo, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="row">
            @Html.LabelFor(model => model.Version, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-4">
                @Html.EditorFor(model => model.Version, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Version, "", new { @class = "text-danger" })
            </div>
        </div>
    </fieldset>

    <!--Detalles de solicitud-->
    <fieldset>
        <legend>Detalles de Solicitud</legend>
        <div class="row">
            @Html.Label("Solicitante del cambio", htmlAttributes: new { @class = "control-label required col-md-2" })
            <div class="col-md-4">
                @Html.EditorFor(model => model.solicitanteCambioNombre, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                @Html.ValidationMessageFor(model => model.solicitanteCambioNombre, "", new { @class = "text-danger" })
            </div>

            @Html.LabelFor(model => model.FechaCambio, htmlAttributes: new { @class = "control-label required col-md-2" })
            <div class="col-md-4">
                @Html.EditorFor(model => model.FechaCambio, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.FechaCambio, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="row">
            @Html.LabelFor(model => model.DescripcionCambio, htmlAttributes: new { @class = "control-label required col-md-2" })
            <div class="col-md-4" , id="descripcionCambio">
                @Html.EditorFor(model => model.DescripcionCambio, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.DescripcionCambio, "", new { @class = "text-danger" })
            </div>

            @Html.LabelFor(model => model.JustificacionCambio, htmlAttributes: new { @class = "control-label required col-md-2" })
            <div class="col-md-4" , id="justificacionCambio">
                @Html.EditorFor(model => model.JustificacionCambio, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.JustificacionCambio, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="row">
            @Html.LabelFor(model => model.EstadoSolicitud, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-4">
                @Html.DropDownListFor(model => model.EstadoSolicitud, new SelectList(new List<Object>{
                    new { value = "Pendiente" , text = "Pendiente"  },
                    new { value = "En revisión" , text = "En revisión"  },
                    new { value = "Aceptado" , text = "Aceptado" },
                    new { value = "Rechazado" , text = "Rechazado" }
                }, "value", "text"), new { @class = "form-control" })
            </div>
        </div>
    </fieldset>

    <fieldset id="campo2">
        <legend>Criterios de Aceptación</legend>
        <div class="form-group">

            @foreach (var item in Model.CriterioAceptacionHistorial.ToList())
            {   @Html.Label("Descripción", htmlAttributes: new { @class = "control-label required col-md-2" })
                <div class="col-md-10" id="crite2">
                    @Html.EditorFor(modelo => modelo.criteriosTexto, new { htmlAttributes = new { @class = "form-control", @Value = item.Descripcion.ToString(), } })
                </div>
            }
        </div>
    </fieldset>
}



@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
