@model PagedList.IPagedList<ProyectoInge1.Models.Requerimiento>
@using PagedList.Mvc;
<link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />
@{
    ViewBag.Title = "Gestión de requerimientos ";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script>
    window.onload = function () {
        $('#campodebusqueda').change(function (e) {
            window.location.replace(location.protocol + '//' + location.host + location.pathname + "?Proyecto=" + $(this).val());
        });

    }
</script>

<style>
    form {
        display: inline-block;
    }

    ocultar {
        display: none;
    }
</style>

<h2>Gestión de requerimientos</h2>

<p>
    @Html.ActionLink("Agregar requerimiento", "Create")
</p>
<div display="inline">
    <form>
        <p>
            Proyecto  &nbsp;
        </p>
    </form>
    <form>
        @using (Html.BeginForm())
        {
            <p>
                @Html.DropDownList("pro", null, htmlAttributes: new { @class = "form-control", @id = "campodebusqueda" })
            </p>
        }
    </form>
    <form>
        <p>
            &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
        </p>
    </form>
    <form>
        @using (Html.BeginForm("Index", "ModuloRequerimientos", FormMethod.Get))
        {
            <p>
                Buscar &nbsp; @Html.TextBox("SearchString", ViewBag.CurrentFilter as string, Request.Params["Proyecto"] as string)
                <ocultar>
                    @Html.TextBox("Proyecto", Request.Params["Proyecto"] as string)
                </ocultar>
                <button type="submit" class="btn btn-primary" onsubmit="campodebusqueda();">
                    <span class="glyphicon glyphicon-search"></span>
                </button>
            </p>
        }
    </form>
</div>

<table class="table">
    <tr>
        <th>
            @Html.ActionLink("Id", "Index", new { sortOrder = ViewBag.NameSortParm, tipo = "Id", currentFilter = ViewBag.CurrentFilter, Proyecto = Request.Params["Proyecto"] })
        </th>
        <th>
            @Html.ActionLink("Nombre", "Index", new { sortOrder = ViewBag.NameSortParm, tipo = "Nombre", currentFilter = ViewBag.CurrentFilter, Proyecto = Request.Params["Proyecto"] })
        </th>
        <th>
            @Html.ActionLink("Prioridad", "Index", new { sortOrder = ViewBag.NameSortParm, tipo = "Prioridad", currentFilter = ViewBag.CurrentFilter, Proyecto = Request.Params["Proyecto"] })
        </th>
        <th>
            @Html.ActionLink("Esfuerzo", "Index", new { sortOrder = ViewBag.NameSortParm, tipo = "Esfuerzo", currentFilter = ViewBag.CurrentFilter, Proyecto = Request.Params["Proyecto"] })
        </th>
        <th>
            @Html.ActionLink("Estado", "Index", new { sortOrder = ViewBag.NameSortParm, tipo = "Estado", currentFilter = ViewBag.CurrentFilter, Proyecto = Request.Params["Proyecto"] })
        </th>
        <th>
            @Html.ActionLink("FechaInicio", "Index", new { sortOrder = ViewBag.DateSortParm = "FechaInicio", currentFilter = ViewBag.CurrentFilter, Proyecto = Request.Params["Proyecto"] })
        </th>
        <th>
            @Html.ActionLink("FechaFinal", "Index", new { sortOrder = ViewBag.DateSortParm = "FechaFinal", currentFilter = ViewBag.CurrentFilter, Proyecto = Request.Params["Proyecto"] })
        </th>
        <th>
            @Html.ActionLink("Sprint", "Index", new { sortOrder = ViewBag.NameSortParm, tipo = "Sprint", currentFilter = ViewBag.CurrentFilter, Proyecto = Request.Params["Proyecto"] })
        </th>
        <th>
            @Html.ActionLink("Modulo", "Index", new { sortOrder = ViewBag.NameSortParm, tipo = "Modulo", currentFilter = ViewBag.CurrentFilter, Proyecto = Request.Params["Proyecto"] })
        </th>
        <th></th>
    </tr>
    @foreach (var item in Model)
            {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Nombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Prioridad)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Esfuerzo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Estado)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FechaInicio)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FechaFinal)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Sprint)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Modulo)
            </td>
            <td>
                @Html.ActionLink("Consultar", "MEC_UnificadoRequerimientos", new { id = item.Id })
            </td>
        </tr>
    }

</table>

<br />
        Página @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount

        @Html.PagedListPager(Model, page => Url.Action("Index",
    new { page, sortOrder = ViewBag.CurrentSort, currentFilter = ViewBag.CurrentFilter }))
