@model PagedList.IPagedList<ProyectoInge1.Models.Cambio>
@using PagedList.Mvc;

<link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />
@{
    ViewBag.Title = "Gestión de solicitudes";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<script>
        window.onload = function () {
            $('#campodebusqueda').change(function (e) {
                window.location.replace(location.protocol + '//' + location.host + location.pathname + "?Proyecto=" + $(this).val());
            });

        }

</script>


<style>
    form {
        display: inline-block;
    }

    ocultar {
        display: none;
    }
</style>

<h2>Historial del requerimiento</h2>

@if (String.Compare(ViewBag.Msj, "exito") == 0)
{
    <div style="text-align: right; width: 100%; color:limegreen; font-weight:bold;">
        <p>El cambio fue modificado exitosamente!</p>
    </div>
}

<div display="inline">
    <form>
        @using (Html.BeginForm("IndexHistorialCambios", "ModuloRequerimientos", FormMethod.Get))
            {
            <p>
                Buscar &nbsp; @Html.TextBox("SearchString", ViewBag.CurrentFilter as string, Request.Params["Requerimiento"] as string, Request.Params["Proyecto"] as string)
                <ocultar>
                    @Html.TextBox("Requerimiento", Request.Params["Requerimiento"] as string)
                </ocultar>
                <ocultar>
                    @Html.TextBox("Proyecto", Request.Params["Proyecto"] as string)
                </ocultar>

                <button type="submit" class="btn btn-primary" onsubmit="campodebusqueda();">
                    <span class="glyphicon glyphicon-search"></span>
                </button>
            </p>
        }
    </form>
</div>

<table class="table">
    <tr>
        <th>
            @Html.ActionLink("Versión", "IndexHistorialCambios", new { sortOrder = ViewBag.NameSortParm, tipo = "Version", currentFilter = ViewBag.CurrentFilter, Requerimiento = Request.Params["Requerimiento"], Proyecto = Request.Params["Proyecto"] })
        </th>
        <th>
            @Html.ActionLink("Identificador", "IndexHistorialCambios", new { sortOrder = ViewBag.NameSortParm, tipo = "Id", currentFilter = ViewBag.CurrentFilter, Requerimiento = Request.Params["Requerimiento"], Proyecto = Request.Params["Proyecto"] })
        </th>
        <th>
            @Html.ActionLink("Nombre", "IndexHistorialCambios", new { sortOrder = ViewBag.NameSortParm, tipo = "Nombre", currentFilter = ViewBag.CurrentFilter, Requerimiento = Request.Params["Requerimiento"], Proyecto = Request.Params["Proyecto"] })
        </th>
        <th>
            @Html.ActionLink("Módulo", "IndexHistorialCambios", new { sortOrder = ViewBag.NameSortParm, tipo = "Modulo", currentFilter = ViewBag.CurrentFilter, Requerimiento = Request.Params["Requerimiento"], Proyecto = Request.Params["Proyecto"] })
        </th>
        <th>
            @Html.ActionLink("Sprint", "IndexHistorialCambios", new { sortOrder = ViewBag.NameSortParm, tipo = "Sprint", currentFilter = ViewBag.CurrentFilter, Requerimiento = Request.Params["Requerimiento"], Proyecto = Request.Params["Proyecto"]})
        </th>
        <th>
            @Html.ActionLink("Prioridad", "IndexHistorialCambios", new { sortOrder = ViewBag.NameSortParm, tipo = "Prioridad", currentFilter = ViewBag.CurrentFilter, Requerimiento = Request.Params["Requerimiento"], Proyecto = Request.Params["Proyecto"] })
        </th>
        <th>
            @Html.ActionLink("Esfuerzo", "IndexHistorialCambios", new { sortOrder = ViewBag.NameSortParm, tipo = "Esfuerzo", currentFilter = ViewBag.CurrentFilter, Requerimiento = Request.Params["Requerimiento"], Proyecto = Request.Params["Proyecto"] })
        </th>
        <th>
            @Html.ActionLink("Solicitante del cambio", "IndexHistorialCambios", new { sortOrder = ViewBag.NameSortParm, tipo = "Solicitante", currentFilter = ViewBag.CurrentFilter, Requerimiento = Request.Params["Requerimiento"], Proyecto = Request.Params["Proyecto"] })
        </th>
        <th>
            @Html.ActionLink("Fecha del cambio", "IndexHistorialCambios", new { sortOrder = ViewBag.DateSortParm, tipo = "Fecha", currentFilter = ViewBag.CurrentFilter, Requerimiento = Request.Params["Requerimiento"], Proyecto = Request.Params["Proyecto"] })
        </th>

        <th></th>
    </tr>
    @foreach (var item in Model)
            {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.VersionCambio)
            </td>

            <td>
                @Html.DisplayFor(modelItem => item.IdRequerimiento)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Nombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Modulo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Sprint)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Prioridad)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Esfuerzo)
            </td>

            <td>
                @Html.DisplayFor(modelItem => item.SolicitanteCambio)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FechaCambio )
            </td>
            <td>
                  @Html.ActionLink("Consultar", "DetallesVersion", new { idRequerimiento = item.IdRequerimiento , idProyecto = item.IdProyecto, version = item.VersionCambio })
              </td>

        </tr>
    }
</table>
<br />
    Página @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) de @Model.PageCount

    @Html.PagedListPager(Model, page => Url.Action("IndexSolicitud", new { page, sortOrder = ViewBag.CurrentSort, currentFilter = ViewBag.CurrentFilter }))
