@model ProyectoInge1.Models.Requerimiento
@using ProyectoInge1.Models
@{
    ViewBag.Title = "Detalles de Requerimientos";
    ViewBag.pantallaActual = "requerimientos";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>
    .fileUpload {
        position: relative;
        overflow: hidden;
        margin: 15px;
    }

        .fileUpload input.upload {
            position: absolute;
            top: 0;
            right: 0;
            margin: 0;
            padding: 0;
            font-size: 20px;
            cursor: pointer;
            opacity: 0;
            filter: alpha(opacity=0);
        }

    .row {
        padding-bottom: 1em;
    }

    img {
        width: auto;
        max-width: 279px;
        height: auto;
        max-height: 279px;
    }

    .required:after {
        content: " *";
        font-weight: bold;
        color: red;
    }

    piv {
        display: none;
    }
</style>

<script>

    function cambioSolicitante() {
        $('#SolicitanteEscogido').val($('#SolicitanteActual').val());
    }

    function cambioResponsable() {
        $('#ResponsableEscogido').val($('#ResponsableActual').val());
    }

    var id;
    var idProyecto;

    function confirmarEliminar(id, idProyecto) {

        var respuesta = confirm('¿Confirma que desea eliminar este requerimiento?');

        if (respuesta == true)
        {
            $.ajax({
                type: 'POST',
                url: '@Url.Action("eliminarRequerimiento")',
                data: {'id' : id, 'idProyecto' : idProyecto},
                success: function (data) {
                    alert('Requerimiento eliminado exitosamente!');
                    var url = '@Url.Action("Index", "ModuloRequerimientos")';
                    window.location.href = url;
                },
                error: function () {
                    alert('Sólo puede ser eleminado un requerimiento pendiente de asignar!');
                },
            });
        }
    }

    function habilitarCampos() {
        $("input").prop('disabled', false);
        $('select').prop('disabled', false);
        $("#Descripcion").prop("disabled", false);
        $('#campo').show();
        $('#campo2').hide();
        $('#Observaciones').prop('disabled', false).trigger("click");
        $('.elementoConsultar').hide();
        $('.elementoModificar').show();
        $("#eliminar").prop("disabled",true);
        $('.EstadoModificar').show();
        $('.EstadoConsultar').hide();
        $('.SolicitanteModificar').show(); //
        $('.SolicitanteConsultar').hide(); //
        $('.EstadoModificar').show();
        $('.EstadoConsultar').hide();
        $('.ResponsableModificar').show();
        $('.ResponsableConsultar').hide();
        $('#Proyecto').prop('disabled', true).trigger("click");
        $('#Id').prop('disabled', true).trigger("click");
    }

    function funcionCancelar() {
        var respuesta = confirm('¿Confirma que no desea modificar este requerimiento?');
        if (respuesta == true) {
            var url = '@Url.Action("MEC_UnificadoRequerimientos", "ModuloRequerimientos")?IdProyecto=' + $('#Proyecto').val();
            window.location.href = url;
        }
    }

    window.onload = function () {
        if (($('#EstadoValor').val()).toString() == "En ejecución" || ($('#EstadoValor').val()).toString() == "Asignado" || ($('#EstadoValor').val()).toString() == "Cerrado" || ($('#EstadoValor').val()).toString() == "Finalizado")
        {
            $("#modificar").prop("disabled", true);
        }

        if (($('#EstadoValor').val()).toString() == "En ejecución" || ($('#EstadoValor').val()).toString() == "Asignado" || ($('#EstadoValor').val()).toString() == "Cerrado" )
        {
            $("#eliminar").prop("disabled", true);
        }

        $('#campo').hide();
        $('#campo2').show();
        $("input").prop('disabled', true).trigger("click");
        $('select').prop('disabled', true).trigger("click");
        $("#Descripcion").prop("disabled", true).trigger("click");
        $('#Proyecto').prop('disabled', true).trigger("click");
        $('#Id').prop('disabled', true).trigger("click");
        $('#Observaciones').prop('disabled', true).trigger("click");
        $('.elementoModificar').hide();
        $('.elementoConsultar').show();
        $('.SolicitanteModificar').hide(); //
        $('.SolicitanteConsultar').show(); //
        $('.EstadoModificar').hide();
        $('.EstadoConsultar').show();
        $('.ResponsableModificar').hide();
        $('.ResponsableConsultar').show();
    }

    function cambio() {
        var input = document.getElementById("uploadBtn");
        var fReader = new FileReader();
        fReader.readAsDataURL(input.files[0]);
        fReader.onloadend = function (event) {
            var img = document.getElementById("RuPic");
            img.src = event.target.result;
            document.getElementById("rutaImagen").value = event.target.result;
        }
    }

    /* Funciones para los criterios de aceptación */
    function removeNestedForm(element, container, deleteElement) {
        $container = $(element).parents(container);
        $container.find(deleteElement).val('True');
        $container.hide();
    }
    function addNestedForm(container, counter, ticks, content) {
        var nextIndex = $(counter).length;
        var pattern = new RegExp(ticks, "gi");
        content = content.replace(pattern, nextIndex);
        $(container).append(content);
    }
</script>

<div class="elementoConsultar">
    <h2>Consultar</h2>
    @if (Model.cambiosGuardados == 1)
    {
        <div style="text-align: right; width: 100%; color:limegreen; font-weight:bold;">
            <p>Se guardaron los cambios exitosamente!</p>
        </div>
    }
    else if (Model.cambiosGuardados == 2)
    {
        <div style="text-align: right; width: 100%; color:red; font-weight:bold;">
            <p>Ha ocurrido un error al tratar de guardar los cambios!</p>
        </div>
    }
    else if (Model.cambiosGuardados == 3)
    {
        <div style="text-align: right; width: 100%; color:red; font-weight:bold;">
            <p>Sólo puede eliminarse requerimientos pendientes de asignación!</p>
        </div>
    }
</div>

<div class="elementoModificar" style="display:none">
    <h2>Modificar</h2>
    @if (Model.cambiosGuardados == 1)
            {
        <div style="text-align: right; width: 100%; color:limegreen; font-weight:bold;">
            <p>Se guardaron los cambios exitosamente!</p>
        </div>
    }
    else if (Model.cambiosGuardados == 2)
    {
        <div style="text-align: right; width: 100%; color:red; font-weight:bold;">
            <p>Ha ocurrido un error al tratar de guardar los cambios!</p>
        </div>
    }
</div>

<button type="button" class="btn btn-default" id="modificar" onclick="habilitarCampos()">Modificar</button>
<button type="button" class="btn btn-default" id="eliminar" onclick="confirmarEliminar('@(Model.Id)', '@(Model.IdProyecto)')">Eliminar</button>
 &nbsp; &nbsp; &nbsp;
@Html.ActionLink("Solicitar cambio", "CrearSolicitud", new { idRequerimiento = Model.Id, idProyecto = Model.IdProyecto, version = Model.Version })
<p>
    &nbsp;
</p>
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <fieldset>
        <legend>Datos del Requerimiento</legend>

        @Html.HiddenFor(model => model.IdProyecto)
        <div class="row">
            <div class="form-group">
                @Html.LabelFor(model => model.IdProyecto, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-4">
                    @Html.EditorFor(model => model.IdProyecto, new { htmlAttributes = new { @class = "form-control", @id = "Proyecto" } })
                    @Html.ValidationMessageFor(model => model.IdProyecto, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>

        @Html.HiddenFor(model => model.Id)
        <div class="row">
            @Html.LabelFor(model => model.Id, htmlAttributes: new { @class = "control-label required col-md-2" })
            <div class="col-md-4">
                <div class="Id">
                    @Html.EditorFor(model => model.Id, new { htmlAttributes = new { @class = "form-control", @id = "Id" } })
                    @Html.ValidationMessageFor(model => model.Id, "", new { @class = "text-danger" })
                </div>
            </div>

            @Html.LabelFor(model => model.Nombre, htmlAttributes: new { @class = "control-label required col-md-2" })
            <div class="col-md-4">
                @Html.EditorFor(model => model.Nombre, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Nombre, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="row">
            @Html.LabelFor(model => model.Descripcion, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-4">
                @Html.EditorFor(model => model.Descripcion, new { htmlAttributes = new { @class = "form-control", @id = "Descripcion" } })
                @Html.ValidationMessageFor(model => model.Descripcion, "", new { @class = "text-danger" })
            </div>

            <div class="Solicitante">
                <div class="SolicitanteConsultar">
                    @Html.LabelFor(model => model.solicitante, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-4">
                        @Html.EditorFor(model => model.solicitante, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.solicitante, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="SolicitanteModificar">
                    @Html.LabelFor(model => model.IdSolicitante, "Solicitante", htmlAttributes: new { @class = "control-label required col-md-2" })
                    <div class="col-md-4">
                        @Html.DropDownList("Solicitante", null, "Seleccione un solicitante", htmlAttributes: new { @class = "form-control", @id = "SolicitanteActual", onchange = "cambioSolicitante();" })
                        <piv>
                            @Html.EditorFor(model => model.IdSolicitante, new { htmlAttributes = new { @class = "form-control", @id = "SolicitanteEscogido" } })
                        </piv>
                        @Html.ValidationMessageFor(model => model.IdSolicitante, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            @Html.LabelFor(model => model.rutaImagen, htmlAttributes: new { @class = "control-label required col-md-2" })
            <div class="col-md-4">
                @Html.EditorFor(model => model.rutaImagen, new { htmlAttributes = new { @id = "rutaImagen", @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.rutaImagen, "", new { @class = "text-danger" })
                <div class="fileUpload btn btn-primary">
                    <span>Cargar</span>
                    <input id="uploadBtn" type="file" class="upload" onchange="cambio()" />
                </div>
            </div>

            @Html.Label("Vista", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-4" width="200" height="200">
                <img id="RuPic" src="@(Model.rutaImagen)" />
            </div>
        </div>

        <div class="row">
            <div class="form-group">
                @Html.LabelFor(model => model.Observaciones, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-4">
                    @Html.EditorFor(model => model.Observaciones, new { htmlAttributes = new { @class = "form-control", @id = "Observaciones" } })
                    @Html.ValidationMessageFor(model => model.Observaciones, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>
    </fieldset>

    <fieldset>
        <legend>Datos de Estimación</legend>

        <div class="row">
            @Html.LabelFor(model => model.Prioridad, htmlAttributes: new { @class = "control-label required col-md-2" })
            <div class="col-md-4">
                @Html.EditorFor(model => model.Prioridad, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Prioridad, "", new { @class = "text-danger" })
            </div>

            @Html.LabelFor(model => model.Esfuerzo, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-4">
                @Html.EditorFor(model => model.Esfuerzo, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Esfuerzo, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="row">
            @Html.LabelFor(model => model.FechaInicio, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-4">
                @Html.EditorFor(model => model.FechaInicio, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.FechaInicio, "", new { @class = "text-danger" })
            </div>

            @Html.LabelFor(model => model.FechaFinal, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-4">
                @Html.EditorFor(model => model.FechaFinal, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.FechaFinal, "", new { @class = "text-danger" })
            </div>
        </div>
    </fieldset>

    <fieldset>
        <legend>Datos de Desarrollo</legend>

        <div class="row">
            @Html.LabelFor(model => model.Estado, htmlAttributes: new { @class = "control-label required col-md-2" })
            <div class="col-md-4">
                <div class="EstadoConsultar">
                    @Html.EditorFor(model => model.Estado, new { htmlAttributes = new { @class = "form-control", @id = "EstadoValor" } })
                    @Html.ValidationMessageFor(model => model.Estado, "", new { @class = "text-danger" })
                </div>
                <div class="EstadoModificar">
                    @Html.DropDownListFor(model => model.Estado, new SelectList(new List<Object>{
                    new { value = "Pendiente de asignar" , text = "Pendiente de asignar"  },
                    new { value = "Asignado" , text = "Asignado"  },
                    new { value = "En ejecución" , text = "En ejecución" },
                    new { value = "Finalizado" , text = "Finalizado" },
                    new { value = "Cerrado" , text = "Cerrado"}
                }, "value", "text"), "Seleccione un estado", new { @class = "form-control" })
                </div>
            </div>

            <div class="Responsable">
                <div class="ResponsableConsultar">
                    @Html.LabelFor(model => model.responsable, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-4">
                        @Html.EditorFor(model => model.responsable, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.responsable, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="ResponsableModificar">
                    @Html.LabelFor(model => model.IdResponsable, "Responsable", htmlAttributes: new { @class = "control-label required col-md-2" })
                    <div class="col-md-4">
                        @Html.DropDownList("Responsable", null, "Seleccione un responsable", htmlAttributes: new { @class = "form-control", @id = "ResponsableActual", onchange = "cambioResponsable();" })
                        <piv>
                            @Html.EditorFor(model => model.IdResponsable, new { htmlAttributes = new { @class = "form-control", @id = "ResponsableEscogido" } })
                        </piv>
                        @Html.ValidationMessageFor(model => model.IdResponsable, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>

        </div>

        <div class="row">

            @Html.LabelFor(model => model.Sprint, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-4">
                @Html.EditorFor(model => model.Sprint, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Sprint, "", new { @class = "text-danger" })
            </div>

            @Html.LabelFor(model => model.Modulo, htmlAttributes: new { @class = "control-label required col-md-2" })
            <div class="col-md-4">
                @Html.EditorFor(model => model.Modulo, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Modulo, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="row">
            @Html.LabelFor(model => model.Version, htmlAttributes: new { @class = "control-label required col-md-2" })
            <div class="col-md-4">
                @Html.EditorFor(model => model.Version, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                @Html.ValidationMessageFor(model => model.Version, "", new { @class = "text-danger" })
            </div>
        </div>
    </fieldset>

    <fieldset id="campo">
        <legend>Criterios de Aceptación</legend>
        <div class="form-group">
            <div class="col-md-10" id="crite">

                @Html.AddLink("Agregar criterio", "#crite", ".criterios", "CriterioAceptacion", typeof(ProyectoInge1.Models.CriterioAceptacion))
                <p>
                    &nbsp;
                </p>
                @Html.EditorFor(model => model.CriterioAceptacion, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.CriterioAceptacion, "", new { @class = "text-danger" })
                <p>
                    &nbsp;
                </p>
            </div>
        </div>
    </fieldset>

    <fieldset id="campo2">
        <legend>Criterios de Aceptación</legend>
        <div class="form-group">
          
            @foreach (var item in Model.CriterioAceptacion.ToList())
            {   @Html.Label("Descripción", htmlAttributes: new { @class = "control-label required col-md-2" })
                <div class="col-md-10" id="crite2">
                    @Html.EditorFor(modelo => modelo.criteriosTexto, new { htmlAttributes = new { @class = "form-control", @Value = item.Descripcion.ToString(),  } })
            </div>
            }
        </div>
    </fieldset>

    <div class="form-group">
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

        <div class="form-inline" align="right">
            <input type="submit" value="Aceptar" name="aceptar" class="btn btn-default" />
            <a class="btn btn-default" onclick="funcionCancelar()">Cancelar</a>
        </div>
    </div>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}


