@model PagedList.IPagedList<ProyectoInge1.Models.Usuario>
@using PagedList.Mvc;


<link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />

@{
    ViewBag.Title = "Gestión de Usuarios ";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h2>Gestión de Usuarios</h2>

    <p>
        @Html.ActionLink("Agregar usuario", "Create")
    </p>

@using (Html.BeginForm("Index", "ModuloUsuarios", FormMethod.Get))
{
    <p>
        Buscar: @Html.TextBox("SearchString", ViewBag.CurrentFilter as string)
        <button type="submit" class="btn btn-primary">
            <span class="glyphicon glyphicon-search"></span>
        </button>
    </p>
}

<table class="table">
    <tr>
        <th>
            @Html.ActionLink("Cedula", "Index", new { sortOrder = ViewBag.NameSortParm, tipo = "Cedula", currentFilter = ViewBag.CurrentFilter })
        </th>
        <th>
            @Html.ActionLink("Nombre", "Index", new { sortOrder = ViewBag.NameSortParm, tipo = "Nombre", currentFilter = ViewBag.CurrentFilter })
        </th>
        <th>
            @Html.ActionLink("Apellido1", "Index", new { sortOrder = ViewBag.NameSortParm, tipo = "Apellido1", currentFilter = ViewBag.CurrentFilter })
        </th>
        <th>
            @Html.ActionLink("Apellido2", "Index", new { sortOrder = ViewBag.NameSortParm, tipo = "Apellido2", currentFilter = ViewBag.CurrentFilter })
        </th>
        <th>
            @Html.ActionLink("Fecha de nacimiento", "Index", new { sortOrder = ViewBag.DateSortParm, tipo = "Fecha", currentFilter = ViewBag.CurrentFilter })
        </th>
        <th>
            @Html.ActionLink("Teléfono 1", "Index", new { sortOrder = ViewBag.NameSortParm, tipo = "Telefono1", currentFilter = ViewBag.CurrentFilter })
        </th>
        <th>
            @Html.ActionLink("Teléfono 2", "Index", new { sortOrder = ViewBag.NameSortParm, tipo = "Telefono2", currentFilter = ViewBag.CurrentFilter })
        </th>
        <th></th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Cedula)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Nombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Apellido1)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Apellido2)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FechaNac)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Telefono1)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Telefono2)
            </td>
            <td>
                @Html.ActionLink("Consultar", "MEC_Unificado", new { cedula = item.Cedula , id = item.Id})
            </td>
        </tr>
    }

</table>

<br />
Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount

@Html.PagedListPager(Model, page => Url.Action("Index",
    new { page, sortOrder = ViewBag.CurrentSort, currentFilter = ViewBag.CurrentFilter }))
