@model ProyectoInge1.Models.ModeloIntermedio
@{
    ViewBag.Title = "MEC_Unificado";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script>

    function esconderEliminar()
    {
        $('.elementoEliminar').hide();
        $('.elementoModificar').show();
        $("#btnEliminar").prop("disabled",true);
    }

    function esconderModificar() {
        $('.elementoEliminar').show();
        $('.elementoModificar').hide();
        $("#btnEliminar").prop("disabled", true);
    }

    function habilitarEliminar() {
        $('.elementoEliminar').show();
        $('.elementoModificar').hide();
        $("#btnEliminar").prop("disabled", false);
    }

    function confirmarEliminar(cedula, id) {

        var respuesta = confirm('¿Confirma que desea eliminar este usuario?');

        if (respuesta == true)
        {
            $.ajax({
                type: 'POST',
                url: '@Url.Action("eliminarUsuario")',
                data: 'cedula=' + cedula + '&id=' + id,
                success: function (data) {
                    alert('Usuario eliminado exitosamente');
                    var url = '@Url.Action("Index", "ModuloUsuarios")';
                    window.location.href = url;
                },
            });
        }
    }

</script>
<h2>Detalles</h2>
<a class="btn btn-default" onclick="esconderEliminar()">Modificar</a>
<button type="button" class="btn btn-default" id="btnEliminar" onclick="confirmarEliminar('@(Model.modeloUsuario.Cedula)','@(Model.modeloUsuario.Id)')">Eliminar</button>
    <div>
        <div class="elementoEliminar">
            <h4>Usuario</h4>
            <hr />
            <dl class="dl-horizontal">
                <dt>
                    @Html.DisplayNameFor(model => model.modeloUsuario.Nombre)
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.modeloUsuario.Nombre)
                </dd>
                <dt>
                    @Html.DisplayNameFor(model => model.modeloUsuario.Apellido1)
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.modeloUsuario.Apellido1)
                </dd>
                <dt>
                    @Html.DisplayNameFor(model => model.modeloUsuario.Apellido2)
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.modeloUsuario.Apellido2)
                </dd>
                <dt>
                    @Html.DisplayNameFor(model => model.modeloUsuario.Cedula)
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.modeloUsuario.Cedula)
                </dd>
                <dt>
                    @Html.DisplayNameFor(model => model.modCrear.Email)
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.aspUserEmail)
                </dd>
                <dt>
                    @Html.DisplayNameFor(model => model.modeloUsuario.FechaNac)
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.modeloUsuario.FechaNac)
                </dd>
                <dt>
                    @Html.DisplayNameFor(model => model.modeloUsuario.Telefono1)
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.modeloUsuario.Telefono1)
                </dd>
                <dt>
                    @Html.DisplayNameFor(model => model.modeloUsuario.Telefono2)
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.modeloUsuario.Telefono2)
                </dd>
                <!--FALTA AGREGAR SEXO A LA BASE-->
            </dl>
        </div>
    </div>
    <div class="elementoModificar" style="display:none">
        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()

            <div class="form-horizontal">
                <h4>Usuario</h4>
                <hr />
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                <div class="form-group">
                    @Html.LabelFor(model => model.modeloUsuario.Nombre, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.modeloUsuario.Nombre, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.modeloUsuario.Nombre, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(model => model.modeloUsuario.Apellido1, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.modeloUsuario.Apellido1, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.modeloUsuario.Apellido1, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(model => model.modeloUsuario.Apellido2, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.modeloUsuario.Apellido2, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.modeloUsuario.Apellido2, "", new { @class = "text-danger" })
                    </div>
                </div>
                @Html.HiddenFor(model => model.modeloUsuario.Cedula)
                <div class="form-group">
                    @Html.LabelFor(model => model.modeloUsuario.Cedula, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.modeloUsuario.Cedula, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.modeloUsuario.Cedula, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(model => model.modeloUsuario.FechaNac, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.modeloUsuario.FechaNac, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.modeloUsuario.FechaNac, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(model => model.modeloUsuario.Telefono1, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.modeloUsuario.Telefono1, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.modeloUsuario.Telefono1, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(model => model.modeloUsuario.Telefono2, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.modeloUsuario.Telefono2, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.modeloUsuario.Telefono2, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(model => model.modCrear.Email, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.aspUserEmail, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.modCrear.Email, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group" style="display:none">
                    @Html.LabelFor(model => model.modeloUsuario.Id, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.modeloUsuario.Id, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.modeloUsuario.Id, "", new { @class = "text-danger" })
                    </div>
                </div>
                <!--FALTA AGREGAR SEXO A LA BASE-->
                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <input type="submit" value="Aceptar" class="btn btn-default" />
                        <a class="btn btn-default" onclick="habilitarEliminar()">Cancelar</a>
                    </div>
                </div>
            </div>
        }
    </div>
    <p>
        @Html.ActionLink("Volver a Usuarios", "Index")
    </p>


