@model ProyectoInge1.Models.ChangePasswordViewModel
@{
    ViewBag.Title = "Mi cuenta";
}

<h2>@ViewBag.Title.</h2>


@using (Html.BeginForm("ChangePassword", "Manage", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    <script>

    function confirmarSalir() {

        var respuesta = confirm('¿Confirma que desea cancelar? Los cambios hechos no se guardaran');

        if (respuesta == true) {
                    var url = '@Url.Action("Informacion", "ModuloUsuarios")';
                    window.location.href = url;
        }
    }
    </script>

    @Html.AntiForgeryToken()
    <h4>Cambio de contraseña</h4>
    <hr />
    @Html.ValidationSummary("", new { @class = "text-danger" })
    <div class="form-group">
        @Html.Label("Contraseña vieja", new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.PasswordFor(m => m.OldPassword, new { @class = "form-control" })
        </div>
    </div>
    <div class="form-group">
        @Html.Label("Nueva contraseña", new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.PasswordFor(m => m.NewPassword, new { @class = "form-control" })
        </div>
    </div>
    <div class="form-group">
        @Html.Label("Confirme contraseña", new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control" })
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Aceptar" class="btn btn-default" />
            <a class="btn btn-default" onclick="confirmarSalir()">Cancelar</a>
        </div>
    </div>
}


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
