@using Microsoft.AspNet.Identity;
@using ProyectoInge1.Models;

<!DOCTYPE html>
<html>
<head>
    <script src="~/Scripts/alertify/alertify.min.js"></script>
    <link rel="stylesheet" href="~/Content/alertify/alertify.core.css" />
    <link rel="stylesheet" href="~/Content/alertify/alertify.default.css" />
    <meta charset="ISO-8859-1" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Administraci칩n de Requerimientos</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <style>
        body {
            background-color: white;
        }
    </style>
</head>

@{  string pantallaActual = Html.ViewBag.pantallaActual ?? "";
    string resaltado = "color:#6ad3f5;";
    string noResaltado = "";
    string colorInicio = string.Equals(pantallaActual, "inicio") ? resaltado : noResaltado;
    string colorUsuarios = string.Equals(pantallaActual, "usuarios") ? resaltado : noResaltado;
    string colorPrivilegios = string.Equals(pantallaActual, "privilegios") ? resaltado : noResaltado;
    string colorProyectos = string.Equals(pantallaActual, "proyectos") ? resaltado : noResaltado;
    string colorRequerimientos = string.Equals(pantallaActual, "requerimientos") ? resaltado : noResaltado;
    string colorSolicitudes = string.Equals(pantallaActual, "solicitudes") ? resaltado : noResaltado;
    string colorContacto = string.Equals(pantallaActual, "contacto") ? resaltado : noResaltado;
    string colorAcercaDe = string.Equals(pantallaActual, "acercaDe") ? resaltado : noResaltado;
    string colorRegistro = string.Equals(pantallaActual, "registro") ? resaltado : noResaltado;
    string colorIniciarSesion = string.Equals(pantallaActual, "iniciarSesion") ? resaltado : noResaltado;
    string colorMiCuenta = string.Equals(pantallaActual, "miCuenta") ? resaltado : noResaltado;
}

<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Inicio", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            @using(Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm" })) {
                <div class="navbar-collapse collapse">
                    <ul class="nav navbar-nav">
                        @if(Request.IsAuthenticated) {
                            string [] privilegios = {"GUS-C","PRO-C", "GRF-C", "GCS-CO"};
                            bool resultado;
                            try {
                                Entities bd = new Entities();
                                ApplicationDbContext context = new ApplicationDbContext();
                                ModeloIntermedio modelo = new ModeloIntermedio();
                                modelo.usuarioActualId = System.Web.HttpContext.Current.User.Identity.GetUserId();
                                string rolId = context.Users.Find(modelo.usuarioActualId).Roles.First().RoleId;
                                for(int i = 0; i < privilegios.Length; i++) {
                                    //Asignacion de privilegios de consultar
                                    string priv = bd.Privilegios_asociados_roles.Find(privilegios[i], rolId)?.Id_Privilegio ?? "";
                                    if(!string.IsNullOrEmpty(priv)) {
                                        resultado = true;
                                    } else {
                                        resultado = false;
                                    }
                                    ViewData[privilegios[i]] = resultado;
                                }
                            }
                            catch {
                                //En caso de errores al acceder a la base de datos se redirige a una pantalla de error
                                ViewBag.errorRol = "Error al intentar validar el rol";
                            }

                            if(Convert.ToBoolean(ViewData["GUS-C"])) {
                                <li>@Html.ActionLink("Usuarios", "Index", "ModuloUsuarios", null, new { @style = colorUsuarios })</li>
                            }
                            <li>@Html.ActionLink("Privilegios", "Index", "ModuloSeguridad", null, new { @style = colorPrivilegios })</li>
                            if(Convert.ToBoolean(ViewData["PRO-C"])) {
                                <li>@Html.ActionLink("Proyecto", "Index", "ModuloProyecto", null, new { @style = colorProyectos })</li>
                            }
                            if(Convert.ToBoolean(ViewData["GRF-C"])) {
                                <li>@Html.ActionLink("Requerimientos", "Index", "ModuloRequerimientos", null, new { @style = colorRequerimientos })</li>
                            }
                            if(Convert.ToBoolean(ViewData["GCS-CO"])) {
                                <li>@Html.ActionLink("Solicitudes de Cambios", "IndexSolicitud", "ModuloRequerimientos", null, new { @style = colorSolicitudes })</li>
                            }
                        }
                        <li>@Html.ActionLink("Cont치ctenos", "Contact", "Home", null, new { @style = colorContacto })</li>
                        <li>@Html.ActionLink("Acerca de", "About", "Home", null, new { @style = colorAcercaDe })</li>
                    </ul>
                    <ul class="nav navbar-nav navbar-right">
                        @if(Request.IsAuthenticated) {
                            <li> @Html.ActionLink("Mi cuenta", "Informacion", "ModuloUsuarios", null, new { @style = colorMiCuenta }) </li>
                            @Html.AntiForgeryToken()
                            <li><a href="javascript:document.getElementById('logoutForm').submit()">Salir </a></li>
                        } else {
                            <li>@Html.ActionLink("Iniciar sesi칩n", "Login", "Account", null, new { id = "loginLink", @style = colorIniciarSesion })</li>
                        }
                    </ul>
                 </div>
            }
        </div>

    </div>
    <script>
        if ('@ViewBag.errorRol') {
            alertify.error('@ViewBag.errorRol');
            @{ ViewBag.errorRol = "";}
        }
    </script>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - Sistema de Administraci칩n de Requerimientos - Todos los derechos reservados.</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>

